<a href="/players">Players Index</a> <a href="/teams">Teams Index</a>

<h1>Fantasy Football Teams</h1>

<% @teams.each do |team| %>
  <p><%= team.name %> <strong>created at</strong> <%= team.readable_date %></p>
  <% end %>
